.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This makes the container take the full viewport height */
    position: relative; /* This allows the navigation buttons to be positioned at the bottom of this container */
}

.navigation-buttons {
    display: flex;
    justify-content: space-between; /* This spreads the buttons apart */
    position: absolute; /* This takes the buttons out of the document flow */
    bottom: 20px; /* This positions the buttons 20px up from the bottom of the .services-content container */
    left: 20px; /* This is the space from the left edge of the .services-content container */
    right: 20px; /* This is the space from the right edge of the .services-content container */
}

.prev-button, .next-button {
    display: flex; /* This allows for flexible box layout */
    align-items: center; /* This centers the content vertically */
    justify-content: center; /* This centers the content horizontally */
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100px;
    height: 50px;
}


.prev-button:hover, .next-button:hover {
    background-color: #4169E1; /* A slightly darker shade for hover effect */
}
