.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 80px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 20px;
  }
  
  .navbar ul li a {
    color: #28a9e2;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .navbar li a:hover {
    background-color: #28a9e2;
    color: white;
  }
  