.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
    font-family: Arial, sans-serif;
}

.contact-title {
    font-size: 36px;
    font-weight: bold;
    color: #28a9e2;
    margin-bottom: 30px;
    text-align: center;
}

.contact-section {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-content ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.contact-content li {
    font-size: 18px;
    margin-bottom: 10px;
}

.linkedin-profile {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px; /* Add this line */
}


.linkedin-logo {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.linkedin-profile a {
    color: #0077b5;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.linkedin-profile a:hover {
    text-decoration: underline;
}

.profile-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
}
.linkedin-profile p {
    font-size: 16px;
    color: #555;
}

