.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.about-title {
    font-size: 36px;
    font-weight: bold;
    color: #28a9e2;
    margin-bottom: 30px;
    position: relative;
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.about-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: .15em solid orange;
    animation: blink-caret .75s step-end infinite;
}

.about-content {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-content h2 {
    font-size: 24px;
    margin: 30px 0 10px 0;
    color: #28a9e2;
}
