@keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

.textData{
  font-size: 18px;
  color: black;
}

App.night .textData{
  font-size: 18px;
  color: white;
}
  